<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" href="{{ mix('styles/app.css') }}" />
    <script src="{{ mix('scripts/app.js') }}"></script>
    @include('partials/styles')
    @!section('styles')
</head>
<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                @!section('content')  
            </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    @include('partials/scripts')
    @!section('scripts')
</body>
</html>